/BinarySearchTree/bin/Debug/net8.0/BinarySearchTree
/BinarySearchTree/bin/Debug/net8.0/BinarySearchTree.deps.json
/BinarySearchTree/bin/Debug/net8.0/BinarySearchTree.dll
/BinarySearchTree/bin/Debug/net8.0/BinarySearchTree.pdb
/BinarySearchTree/bin/Debug/net8.0/BinarySearchTree.runtimeconfig.json
.idea